* {
  margin: 0;
  border: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: Arial, sans-serif;
}

.grid {
	width:250px;
	height: auto;
	margin: auto;
}

.upper-left {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: red;
}

.upper-mid {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: orange;
}

.upper-right {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: yellow;
}

.middle-left {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: green;
}

.middle-mid {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: blue;
}

.middle-right {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: indigo;
}

.lower-left {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: violet;
}

.lower-mid {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: pink;
}

.lower-right {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: black;
}